.fajneikonki {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* #001 instagram */
.fajneikonki.instagram {
    background-image: url("../icons/instagram.svg");
  }
  
  /* #002 facebook */
  .fajneikonki.facebook {
    background-image: url("https://www.svgrepo.com/show/532036/cloud-rain-alt.svg");
  }
  
  /* #003 twitter */
  .fajneikonki.twitter {
    background-image: url("../icons/twitter.svg");
  }
  