.fajneikonki {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 
/* #001 Icon Brand FajneIkonki Logo */
  .fajneikonki.fi {
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_fi.svg");
  }
/* #002 Icon FajneIkonki Dev */
  .fajneikonki.dev{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_dev.svg");
  }
/* #003 Icon FajneIkonki ad */
  .fajneikonki.ad{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_ad.svg");
  }
/* #004 Icon FajneIkonki app */
  .fajneikonki.app{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_app.svg");
  }
/* #005 Icon FajneIkonki end */
  .fajneikonki.end{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_end.svg");
  }
/* #006 Icon FajneIkonki fit */
  .fajneikonki.fit{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_fit.svg");
  }
/* #007 Icon FajneIkonki git */
  .fajneikonki.git{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_git.svg");
  }
/* #008 Icon FajneIkonki js */
  .fajneikonki.js{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_js.svg");
  }
/* #009 Icon FajneIkonki kt */
  .fajneikonki.kt{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_kt.svg");
  }
/* #010 Icon FajneIkonki ops */
  .fajneikonki.ops{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_ops.svg");
  }
/* #011 Icon FajneIkonki php */
  .fajneikonki.php{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_php.svg");
  }
/* #012 Icon FajneIkonki pr */
  .fajneikonki.pr{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_pr.svg");
  }
/* #013 Icon FajneIkonki seo */
  .fajneikonki.seo{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_seo.svg");
  }
/* #014 Icon FajneIkonki sql */
  .fajneikonki.sql{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_sql.svg");
  }
/* #015 Icon FajneIkonki ui */
  .fajneikonki.ui{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_ui.svg");
  }
/* #016 Icon FajneIkonki ux */
  .fajneikonki.ux{
    background-image: url("https://r45k1.github.io/FajneIkonki/css/icons/fajneikonki_ux.svg");
  }

