.fajneikonki {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 
/* #001 facebook */
  .fajneikonki.gost {
    background-image: url("https://cyfryzacjatransportu.pl/assets/apka/dzwon.svg");
  }


  
